.header_container{
    padding: .8rem;
    margin: 0;
    width: 100%;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: var(--primary-color);
    color: var(--white-color);
    position: sticky;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
