.card_container {
    width:340px;
    position: relative;
    border-radius: 5px;
    text-align: left;
    margin-bottom:1rem;
    padding:1rem;
    -webkit-box-shadow: 0 2px 4px -1px rgb(0 0 0 / 16%), 0 4px 5px 0 rgb(0 0 0 / 11%), 0 1px 10px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 4px -1px rgb(0 0 0 / 16%), 0 4px 5px 0 rgb(0 0 0 / 11%), 0 1px 10px 0 rgb(0 0 0 / 10%);
    -o-box-shadow: 0 2px 4px -1px rgb(0 0 0 / 16%), 0 4px 5px 0 rgb(0 0 0 / 11%), 0 1px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 16%), 0 4px 5px 0 rgb(0 0 0 / 11%), 0 1px 10px 0 rgb(0 0 0 / 10%);        
}
.card_content{
    padding: 0rem;
}
.card_image_container {
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
}
.img {
    width:100%;
    border-radius: 5px 5px 0px 0px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.card_image_container:hover .img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
} 
.card_title {
    position: absolute;
    /* font-family: 'Open Sans', sans-serif; */
    z-index: 1;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: #fff;
} 